body {
  background-color: #083B4C;
}

.contain {
  width: 70%;
  margin: auto;
}

h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li.square {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin: 1rem;
}

.blue {
  background-color: #1389B2;
}

.lightgreen {
  background-color: #0BD6A1;
}

.yellow {
  background-color: #FFD166;
}